@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: rgb(0, 43, 54);
  width: 100%;
}
.nav-bar{
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.nav-bar>h1{
  color: rgba(250, 250, 250, 1);
}
main{
  width: 100%;
  min-height: 90vh;
  background-color: rgba(0, 43, 54, .8);
}
.main-counter{
  padding-top: 10%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
}
.counter{
  width: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.counter>h3{
  /* min-width: 50%; */
  color: rgb(0, 33, 41);
  /* text-align: center; */
}
.counter h3>span{
  color: rgba(250, 250, 250, 1);
}
.counter-buttons{
  padding-top: 6%;
  width: 100%;
  display: flex;
  gap: 1.5rem;
}
.counter button{
  font-size: 115%;
  padding: 2% 4%;
  /* flex: 1 1 70%; */
  width: 35%;
}
#counter-add-num{
  width: 90%;
  background-color: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(1, 44, 54);
  text-align: center;
  padding-top: .3rem;
  padding-bottom: .3rem;
  font-size: 1.1rem;
  display: block;
  color: rgba(250, 250, 250, 1);
  margin-bottom: 4%;
}
.counter-adds{
  width: 50%;
}
.counter-adds>form{
  width: 100%;
}
.counter-adds input[type='submit']{
  font-size: 115%;
  padding: 1.5% 4%;
}
#counter-add-num:focus, 
button:focus{
  outline: none;
  box-shadow: none;
}
